.categories-wrapper{
    display: flex;
    flex-direction: column;
    width: 23vw;
    min-height: 23vh;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    border-radius: 10px;
    overflow-x: hidden;
    margin-top: 20px;
    margin-bottom: 30px;
    background: #FFFFFF;
border: 2px solid rgba(216, 216, 216, 0.4);
box-shadow: 0px 67.1144px 109.061px rgba(0, 0, 0, 0.05);
border-radius: 12px;
}
.category-logo{
    height: 5vh;
}
.heading{
    display: flex;
    margin-left: -30px;
    gap: 30px;
}

.categories-wrapper:hover{
    background-color: #20B486;
    color: white;
    transition: ease-in-out;
    cursor: pointer;
    .vector{
        color: white;
    }
}
.vector{
    color: #20B486;
}