.your-courses-wrapper{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 5vh;
    margin-top: 7vh;
    height: 90vh;
    overflow-y: scroll;
    
}
.your-courses-wrapper::-webkit-scrollbar{
    width: 10px;
}