.chapter-create-wrapper{
    display: flex;
    flex-direction: column;
    gap: 4vh;
}
.add-button-img{
    height: 3vh;
    width: 2vw;
}
.chapter-create-input-wrapper{
    display: flex;
    gap: 1vw;
}
.chapter-create-input{
    display: flex;
    gap: 1vw;
   
}
.chapter-create-section-name{
    height: 5vh;
    width: 15vw;
    padding-left: 10px;
    border-radius: 5px;
}
.chapter-create-create-button{
    width: 5vw;
    border-radius: 5px;
    background: #20B486;
border: 1px solid #20B486;
/* Shadow/xs focused 4px primary-100 */
box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #F4EBFF;
border-radius: 8px;
color: white;

}
.add-button{
    border-radius: 50%;
    background-color: white;
    border: none;
}
.add-button:hover{
    cursor: pointer;
}
.chapter-create-create-button:hover{
    cursor: pointer;
}